* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .navbar {
    height: 10vh; /* adjust as needed */
  }
}

@media (min-width: 768px) {
  #sidebarMenu {
    height: 100%;
    overflow-y: auto;
  }
}

html, body, .container-fluid {
  height: 100%;
}

.bg-content {
  background-color: #FAFAFA; /* adjust as needed */
}


.main-content {
  height: 100%; /* adjust as needed, accounting for the navbar height */
  overflow-y: hidden;
}

.head-icon {
  font-size: 25px !important;
}


.link-icon {
  font-size: 18px !important;
}

.full-screen {
  height: 100%;
  width: 100%;
}

.biz-ex-wrapper .row {
  background-color: #FAFAFA !important;
  border: 0 !important;
  padding: 20px !important;
} 

#content-target {
  width: 100%;
  height: 100vh;
}
