@media (max-width: 768px) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .navbar {
    height: 10vh; /* adjust as needed */
  }
}

html, body, .container-fluid {
  height: 100%;
}

.bg-content {
  background-color: #e9ecef; /* adjust as needed */
  overflow-y: auto;
}


.main-content {
  min-height: 90vh; /* adjust as needed */
}

.head-icon {
  font-size: 25px !important;
}


.link-icon {
  font-size: 18px !important;
}
