<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marketing</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Gestão Corporativa</h1>
        <p class="fs-5 text-muted">
        Nesta página, você encontrará a documentação detalhada dos processos de gestão corporativa da empresa.
        </p>
      </div>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">Gerenciamento de Mudanças</h5>
            </div>
            <div class="card-body">
              <button type="button" hx-get="/processos/change_management/iframe.html" hx-target="#content-target" class="w-100 btn btn-md btn-outline-primary">Change Management</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">Help Desk</h5>
            </div>
            <div class="card-body">
              <button type="button" hx-get="/processos/internal_help_desk/iframe.html" hx-target="#content-target" class="w-100 btn btn-md btn-outline-primary">Internal Help Desk</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">Gerenciamento de Projetos</h5>
            </div>
            <div class="card-body">
              <button type="button" hx-get="/processos/six_sigma_project_management/iframe.html" hx-target="#content-target" class="w-100 btn btn-md btn-outline-primary">Six Sigma Project Management</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h5 class="my-0 fw-normal">Gestão de Qualidade</h5>
            </div>
            <div class="card-body">
              <button type="button" hx-get="/processos/nonconformity/iframe.html" hx-target="#content-target" class="w-100 btn btn-md btn-outline-primary">Nonconformity</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
